<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head.ejs') %>
<body>
  <%- include('./partials/nav.ejs') %>
  <article>
    <div class="info">
      <span class="span-post left"><%= post.first_team %></span>
      <div class="div_match-post">
        <span class="span-post match"><%= post.match %></span>
      </div>
      <span class="span-post right"><%= post.second_team %></span>
    </div>
    <p class="post-commentary"><%= post.text %></p>
    <span><%= post.createdAt.toLocaleDateString() || 'No date' %></span>
  </article>
</body>
</html>